public-hoist-pattern[]=*eslint*
public-hoist-pattern[]='*prettier*'
public-hoist-pattern[]='*tsconfig/*'
public-hoist-pattern[]=*@nestjs/swagger*
public-hoist-pattern[]=*@nestjs/mapped-types*
public-hoist-pattern[]=*class-transformer*
public-hoist-pattern[]=*@serverless-stack*
workspaces-update=false
auto-install-peers=true
