{
  "test": ".*.ts$",
  "exclude": [
    ".*test.tsx?$",
    ".*spec.tsx?$"
  ],
  "sourceMaps": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": true,
      "dynamicImport": true
    },
    "baseUrl": ".",
    "paths": {
        "src/*": ["./src/*"]
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "target": "es2020"
  },
  "module": {
    "strict": true,
    "type": "es6",
    "strictMode": true,
    "lazy": false,
    "noInterop": false
  }
}
