.empty-state {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.message-container {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.message-scroller {
	flex: 1;
	overflow: auto;
	display: flex;
	flex-direction: column-reverse;
}

.message-spinner {
	padding: 10px;
	align-self: center;
}

.message-list {
	display: flex;
	flex-direction: column-reverse;
	align-items: flex-start;
}

.message-item-text {
	display: flex;
	flex: 1;
	margin-left: 10px;
	justify-content: space-between;
}

.message-item-avatar {
	margin-top: 5px;
	align-self: flex-start;
}

.message-item-time {
	font-size: 12px;
	margin-left: 10px;
	align-self: flex-start;
}

.message-item {
	display: inline-flex;
	min-width: 300px;
	align-items: center;
	margin: 10px 20px;
	border-radius: 6px;
	width: 450px;
	padding: 10px;
	background: #e4e6eb;
	align-self: flex-end;
}

.message-item--current {
	background: #eaf3ff;
	align-self: flex-start;
}

.message-item--current strong {
	color: #00b96b;
}
