.group-item {
	cursor: pointer;
}

.group-item--selected {
	background: #eaf3ff;
}

.group-item--unread :global(.ant-list-item-meta-description) {
	color: #00b96b !important;
}

.group-controls-header {
	padding-left: 20px !important;
	padding-right: 20px !important;
	background-color: white !important;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.group-item-time {
	margin-left: 10px;
}

.group-item-icon {
	width: 5px;
	height: 5px;
	display: inline-block;
	border-radius: 100%;
	transform: translateX(-10px);
}

.group-item-icon--unread {
	background: #00b96b;
}
