.group-item {
	cursor: pointer;
}

.group-item--selected {
	background: #eaf3ff;
}

.group-item--unread :global(.ant-list-item-meta-description) {
	color: #00b96b !important;
}

.group-item-time {
	margin-left: 10px;
}

.group-item-icon {
	width: 5px;
	height: 5px;
	display: inline-block;
	border-radius: 100%;
	transform: translateX(-10px);
}

.group-item-icon--unread {
	background: #00b96b;
}
